* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  height: 8000px;
  /* height: 1000px; */
}
.items {
  background-color: red;
  display: flex;
  flex-basis: 90%;
  border: 1px solid white;
}

.items:nth-child(odd) {
  background-color: blanchedalmond;
  /* padding-left: 40%; */
  flex-direction: row-reverse;
}
.items:nth-child(even) {
  /* padding-right: 40%; */
}
